package dev.odes.celerity.app.domain.${templateContext.entity.code.toLowerCase()};

import dev.odes.celerity.app.core.AbstractEntity;

public class ${templateContext.entity.code} extends AbstractEntity {

  #foreach($entityField in $templateContext.entityFields)
  private Object ${entityField.code};
  #end

}
