package dev.odes.celerity.app.domain.${templateContext.entityContext.code.toLowerCase()};

import dev.odes.celerity.app.core.Model;

public class ${templateContext.entityContext.code}Model extends ${templateContext.entityContext.code} implements Model {

}
