package dev.odes.celerity.app.domain.${templateContext.entity.code.toLowerCase()};

import dev.odes.celerity.app.core.Model;

public class ${templateContext.entity.code}Model extends ${templateContext.entity.code} implements Model {

}
